$navbar-height: 50px;

.navbar {
    height: $navbar-height;
    width: 100%;

    background-color: $brand-color;
    border-bottom: 3px solid #333333;
}

.navbar__title {
    display: inline;
    height: $navbar-height;
    line-height: $navbar-height;
    margin-left: 15px;
    
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6rem;
}

.navbar__login-button {
    display: inline-block;
    float: right;
    height: inherit;
    padding-left: 10px;
    padding-right: 10px;

    background: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #777777;
    color: $font-color-inverse;
    font-size: .8rem;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.navbar__login-button:hover {
    background-color: darken($brand-color, 10%);
    cursor: pointer;
}

.filter {
    margin: 20px 2% 0 2%;
    padding: 10px;
    width: 96%;

    background-color: $gray-light;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}